{% extends 'base.html' %}

{% block title %}
OLTS HUB - Справочная
{% endblock %}

{% block body %}




<head>
    <meta charset="UTF-8">
    <title>OLTS HUB</title>
</head>


<body>
<div class="container col-md-7 col-lg-7 order-md-last">

<h1 class="text-center fw-bold">Добро пожаловать в OLTS HUB</h1>

<p>Этот инструмент предназначен для получения актуальной информации об ONU на наших OLT.</p>
<br>
<h1 class="text-center fw-bold">Поиск ONU</h1>
<p>Для поиска нужной ONU, вставьте её серийный номер или MAC-адрес в поле поиска на главной странице.</p>
<p><strong>Примечание:</strong> Поле поиска пока работает только на главной странице. Поисковый запрос с других страниц вызовет ошибку. </p>
<p>Перейдите на Главную страницу, чтобы выполнять поисковые запросы </p>

<h4>Поддерживаемые форматы серийного номера и MAC-адреса для поиска</h4>

<h5><strong>Серийный номер:</strong></h5>
<ul>
    <li><strong>XXXXXXXXXXXXXXXX (например, 4857544300000000)</strong></li>
    <li><strong>XXXX-XXXXXXXX (например, HWTC-00000000)</strong></li>
</ul>

<h5><strong>MAC-адрес:</strong></h5>
<ul>
    <li><strong>XX:XX:XX:XX:XX:XX (например, 1c:87:79:13:5a:c0)</strong></li>
    <li><strong>XXXXXXXXXXXX (например, 1c8779135ac0)</strong></li>
</ul>

<br>
<h1 class="text-center fw-bold">Информация о найденной ONU</h1>
<div class="onu-info">
    <div>
    <div class="text-center">
            <img src="{{ url_for('static', filename='images/onu-info.png') }}" alt="Картинка ONU" width="550">

</div>
<br>
        <p>Доступная информация:</p>
        <ul>
            <li><strong>Состояние ONU:</strong> Включена/выключена</li>
            <li><strong>ONU найдена на OLT:</strong> Название OLT, на котором она найдена</li>
            <li><strong>Порт:</strong> Порт и индекс ONU</li>
            <li><strong>Статус LAN-порта:</strong> Состояние LAN-порта — включено ли туда что-то</li>
            <li><strong>Статус CATV-порта:</strong> Включён ли порт CATV. Также доступна возможность управления портом: вкл./выкл.</li>
            <li><strong>Время включения:</strong> Когда последний раз ONU регистрировалась на OLT</li>
            <li><strong>Время последнего отключения:</strong> Когда последний раз отключалась</li>
            <li><strong>Причина последнего отключения:</strong> Power-OFF или LOSS</li>
            <li><strong>Уровень сигнала с OLT:</strong> Уровень сигнала от OLT к ONU</li>
            <li><strong>Уровень сигнала с ONU:</strong> Уровень обратного сигнала от ONU к OLT</li>
        </ul>

        <p>Также доступна функция вывода сигналов дерева, в котором установлена эта ONU.</p>
<div class="text-center">    
    <img src="{{ url_for('static', filename='images/tree.png') }}" alt="Картинка tree" width="550">
</div>
    </div>




</div>
<br>
<h1 class="text-center fw-bold">Опрос OLT</h1>
<p>Если выполнялось новое подключение, необходимо опросить OLT для поиска новых ONU.</p>

<p>Для этого на главной странице, в списке OLT, нажмите «Подробнее» на нужном OLT и на открывшейся странице выберите опцию «Опросить OLT».</p>

<p><strong>Опрос может занять некоторое время — от нескольких секунд до 1–3 минут.</strong> </p>
<p><strong>Оставайтесь на этой странице. После завершения опроса вы будете перенаправлены на главную страницу поиска.</strong></p>

<div class="text-center">    
    <img src="{{ url_for('static', filename='images/oprosheno.png') }}" alt="Картинка опроса одного олта" width="250">
</div>

</body>
</html>
{% endblock %}

