{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}

<div id="spinner-overlay">
    <div class="spinner-wrapper">
        <div class="spinner"></div>
        <p>Опрос ОЛТа...</p>
    </div>
</div>


<div class="container col-md-7 col-lg-7 order-md-last" style="background-color: #FFFFFF; border-radius: 21px 21px 21px 21px;">
  
  <header>
    <h4 class="text-center fw-bold">Список ОЛТов</h4>
  </header>

  <ul class="list-group mb-3">

  {% for msg in get_flashed_messages() %}

    {% if "отключён" in msg or "ERROR" in msg or "отключена" in msg %}
      <h3 class="text-center">
        <span class="flash badge text-bg-danger">
          {{msg}}
        </span>
      </h3>
    {% else %}
	  <h3 class="text-center">
        <span class="flash badge text-bg-success">
          {{msg}}
        </span>
      </h3>
	{% endif %}

  {% endfor %}

    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="row">№</th>
          <th scope="col">
            <input 
        type="text" 
        id="filter"
        class="form-control me-4"
        style="width: 200px; height: 30px;"
        placeholder="Имя ОЛТа"
        >

          </th>
          
          <th scope="col">IP адрес</th>
          <th scope="col">Действие</th>
        </tr>
      </thead>

      <script>
        let oltupdateButton = []
        let loadingIndicator = []
      </script>


<tbody class="table-group-divider" id="list">
     


<script>

        
const list = document.querySelector('#list')
const filter = document.querySelector('#filter')
let OLTS = []

filter.addEventListener('input', (event) => {
  const value = event.target.value.toLowerCase()
  
  const filteredOlts = OLTS.filter((olt) => 
      olt.hostname.toLowerCase().includes(value)
    )
  render(filteredOlts)
})



    function start() {
      
      const oltsList = {{ oltslist | tojson }};
      OLTS = oltsList
      render(oltsList)
    }
    
    function render(olts = []) {
      
      console.log(list)
      const html = olts.map(toHTML).join('')
      list.innerHTML = html
    }

    function toHTML(olt){
      
      return `
      <table class="table">
      <tr>
          <th scope="row">
            <h6 class="badge bg-dark text-warning rounded-pill my-0">
              ${olt.id}
            </h6>
          </th>
          <td>${olt.hostname}</td>
          <td>${olt.ip_address}</td>
          <td>
            <a 
              href="/oltupdate/${olt.id}" 
              class="btn btn-dark text-warning btn-sm" 
              type="click" 
              id="oltupdate-button${olt.id}"
              onclick="showSpinner()"
              >
              <img 
                src="static/images/update_olt.png" 
                title="Опросить ОЛТ" width="20"
                >
                <div 
                  id="loading-indicator${olt.id}"
                  class="spinner-border spinner-border-sm d-none" 
                  role="status"
                  >
                </div>
            </a>
            <a 
              href="/oltinfo/${olt.id}" 
              class="btn btn-dark text-warning btn-sm" 
              type="submit"
              >
              <img 
                src="static/images/detail_olt.png" 
                title="Подробнее об ОЛТе" 
                width="20"
                >
            </a>
          </td></a>
          </tr>
          </table>
      `
    }

    start()

    </script>


</tbody>
     

    </table>

  </ul>

</div>

<script>
function showSpinner() {
    const overlay = document.getElementById('spinner-overlay');
    overlay.classList.add('active');
}
</script>



{% endblock %}
