{% extends 'settings_base.html' %}

{% block title %}
Добавление нового ОЛТа
{% endblock %}

{% block settings %}

<div class="container col-md-4 col-lg-4 order-md-last" style="background-color: #FFFFFF; border-radius: 21px 21px 21px 21px;">
    <form method="post">

	{% for msg in get_flashed_messages() %}

    <h3 class="text-center"><span class="flash badge text-bg-danger">{{msg}}</span></h3>

        {% endfor %}
 <header>
        <h1 class="text-center fw-bold">Добавление нового ОЛТа</h1>
    </header>


	<input type="text" name="hostname" id="hostname" class="form-control" placeholder="Введите имя ОЛТа"><br>
       	<input type="text" name="ip_address" id="ip_address" class="form-control" placeholder="Введите IP адрес ОЛТа"><br>

<select class="form-select mb-4" aria-label="Пример выбора по умолчанию" name="platform" id="platform">
  <option selected>Выберите платформу</option>
  {% for pf in pf_list %}
  <option value="{{ pf }}">{{ pf }}</option>
  {% endfor %}
</select>

<select class="form-select mb-4" aria-label="Пример выбора по умолчанию" name="pontype" id="pontype">
  <option selected>Выберите тип портов</option>
  <option value="epon">EPON</option>
  <option value="gpon">GPON</option>
</select>

	<input type="submit" class="btn btn-success" value="Добавить">
    </form>
<br>

    <header>
        <h1 class="text-center fw-bold">Получение списка ОЛТов из NetBox</h1>
    </header>
    <p><strong><font size="4" color="#ff0000">Внимание:</strong></font></p><p>При получении списка ОЛТов из NetBox, список полностью обновится, все ОЛТы которые были добавлены вручную удалятся из списка.</p>
<div class="row">
        <div class="col-md-4">
<a class="nav-link active btn btn-success" aria-current="page" href="/oltslistupdate">Получить список ОЛТов из NetBox</a>
<p></p>
</div>
</div>
</div>
{% endblock %}
