{% extends 'base.html' %}

{% block title %}
ONU info
{% endblock %}

{% block body %}



<div class="container col-md-5 col-lg-5 order-md-last">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="fw-bold">ONU information</span>
            </h4>
                <ul class="list-group mb-3">
        {% for msg in get_flashed_messages() %}

	    {% if "Ошибка" in msg or "ERROR" in msg or "отключена" in msg %}
                <h3 class="text-center"><span class="flash badge text-bg-danger">{{msg}}</span></h3>
            {% else %}
		<h3 class="text-center"><span class="flash badge text-bg-success">{{msg}}</span></h3>
	    {% endif %}

	{% endfor %}

                    {% for item in onu_info %}
                    <table class="table">
                        <div class="text-center">
                    	{% if 'UP' in item.lanstate %}
                    		<img src="{{ url_for('static', filename='images/onu_on.png') }}" width="300">

                        	{% elif 'DOWN' in item.lanstate %}
                    		<img src="{{ url_for('static', filename='images/onu_lan_off.png') }}" width="300">
                    	    {% elif 'Не удалось определить' in item.lanstate %}
                            <img src="{{ url_for('static', filename='images/onu_lan_unknown.png') }}" width="300">
                            {% elif 'Power-Off' in item.reason_offline %}
                            <img src="{{ url_for('static', filename='images/onu_power_off.png') }}" width="300">
                            {% elif 'LOS' in item.reason_offline %}
                            <img src="{{ url_for('static', filename='images/onu_los.png') }}" width="300">
                    	{% endif %}
                    	</div>
        
                    <tbody class="table-group-divider">
                    
                    <tr>
                       	<td class="fw-bold" width="400">Состояние ONU {{ item['mac/sn'] }}:</td>
                        {% if 'В сети' in item.iface_state %}
                    	<td><span class="badge text-bg-success rounded-pill fw-bold">{{ item.iface_state }}</span></td>
                        {% else %}
                    	<td><span class="badge text-bg-danger rounded-pill fw-bold">{{ item.iface_state }}</span></td>
                        {% endif %}

                    </tr>
                    <tbody class="table-group-divider">
                    <td>ONU найдена на OLTе:</td><td>{{ item.oltname }}<br>{{ item.oltip }}</td>
                    </tbody>
                    <tr><td>Порт: {{ item.iface_name }}</td><td>id: {{ item.onuid }}</td></tr>
                    <tr><td>Статус LAN порта:</td><td>{{ item.lanstate }}</td></tr>
                    <tr><td>Статус CATV порта:</td>
                        {% if 'OFF' in item.catvstate %}
                            <td>
                                <span class="badge text-bg-danger rounded-pill fw-bold">
                                {{ item.catvstate }}
                                </span>
                                <a href="/onuinfo/{{ item['mac/sn'] }}/catvon" class="btn btn-outline-dark">Включить</a>
                            </td>
    
                        {% elif 'ON' in item.catvstate %}
                            <td>
                                <span class="badge text-bg-success rounded-pill fw-bold">
                                {{ item.catvstate }}                          
                                </span>
                                <a href="/onuinfo/{{ item['mac/sn'] }}/catvoff" class="btn btn-outline-dark">Выключить</a>
                            </td>
                        {% else %}
                            <td>{{ item.catvstate }}</td>
                        {% endif %}       
                    </tr>
                    <tr><td>Уровень сигнала CATV:</td><td>{{ item.catvlevel }}</td></tr>
                    <tr><td>Время включения:</td><td>{{ item.timeup }}</td></tr>
                    <tr><td>Время последнего отключения:</td><td>{{ item.timedown }}</td></tr>
                    <tr><td>Причина последнего отключения:</td><td>{{ item.reason_offline }}</td></tr>
                    <tr><td>Сигнал в сторону ОНУ:</td><td>{{ item.level_onu_rx }}</td></tr>
                    <tr><td>Сигнал в сторону ОЛТа:</td><td>{{ item.level_olt_rx }}</td></tr>
                    </tbody>
                </ul>
            </table>
</div>


<div class="container col-md-5 col-lg-5 order-md-last">
    <div class="row">
        <div class="col-md-4">
        	<a href="/oltinfo/{{ item.olt_id }}/{{ item.iface_name|replace("/", ".") }}" class="btn btn-success ml-auto">Уровень дерева</a>
        </div>
        <div class="col-md-4">
            <a href="/onuinfo/{{ item['mac/sn'] }}/reboot" class="btn btn-warning ml-auto">Перезагрузить ОНУ</a>
        </div>
        <div class="col-md-4">
         <a href="/onuinfo/{{ item['mac/sn'] }}/deleteonu" class="btn btn-danger text-right">Удалить ОНУ</a>
        </div>
    </div>
</div>
{% endfor %}


{% endblock %}
                    
