{% extends 'base.html' %}

{% block title %}
Информация об ОНУ
{% endblock %}

{% block body %}

<div id="spinner-overlay">
    <div class="spinner-wrapper">
        <div class="spinner"></div>
        <p>...</p>
    </div>
</div>

{% for item in onu_info %}

<div class="container col-md-5 col-lg-5 order-md-last" style="background-color: #FFFFFF; border-radius: 21px 21px 21px 21px;">   
  
  <h4 class="text-center fw-bold">
    Информация об ОНУ
  </h4>

  <ul class="list-group mb-3">
    {% for msg in get_flashed_messages() %}
      {% if "error" in msg.result %}
        <h3 class="text-center">
          <span class="flash badge text-bg-danger">
            {{msg.message}}
          </span>
        </h3>
      {% else %}
	      <h3 class="text-center">
          <span class="flash badge text-bg-success">
            {{msg.message}}
          </span>
        </h3>
	  {% endif %}
    {% endfor %}
                    
    <table class="table table-borderless" style="line-height: 1.25;">

      <tr>
        <td>
          <b>Состояние ONU {{ item['mac/sn'] }}:</b><br>
        </td>
        <td>
          {% if 'В сети' in item.iface_state %}
            <span class="badge text-bg-success rounded-pill fw-bold">{{ item.iface_state }}</span>
          {% else %}
            <span class="badge text-bg-danger rounded-pill fw-bold">{{ item.iface_state }}</span>
          {% endif %}
        </td>  
      </tr>
      <tr>
        <td rowspan = "4">
    	    {% if 'UP' in item.lanstate %}
            <img src="{{ url_for('static', filename='images/onu_on.png') }}" width="250">
          {% elif 'DOWN' in item.lanstate %}
            <img src="{{ url_for('static', filename='images/onu_lan_off.png') }}" width="250">
          {% elif 'Не удалось определить' in item.lanstate %}
            <img src="{{ url_for('static', filename='images/onu_lan_unknown.png') }}" width="250">
          {% elif 'Power-Off' in item.reason_offline %}
            <img src="{{ url_for('static', filename='images/onu_power_off.png') }}" width="250">
          {% elif 'LOS' in item.reason_offline %}
            <img src="{{ url_for('static', filename='images/onu_los.png') }}" width="250">
          {% else %}
            <img src="{{ url_for('static', filename='images/onu_unknown.png') }}" width="250">
          {% endif %}
        </td>    
          <tr>
            <td>
              <small style="color: gray;">OLT</small><br><b><small>{{ item.oltname }}</small></b>
            </td>
          </tr>
          <tr>
            <td>
              <small style="color: gray;">IP</small><br><small>
                {{ item.oltip }}
              </small>    
            </td>
            <tr>
              <td>
                <table border="0" width="100%" cellpadding="5" cellspacing="0">
                  <tr>
                    <td>
                      <small style="color: gray;">Порт:</small><br><b><small>{{ item.iface_name }}</small></b>
                    </td>
                    <td>
                      <small style="color: gray;">id:</small><br>
                        <b><small>
                          {{ item.onuid }}
                      </small></b>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <small style="color: gray;">
                        ONU RX:
                      </small><br>      
                      {% if item.level_onu_rx <= -1 and item.level_onu_rx >= -25.00 %}
                        <span class="badge text-bg-success rounded-pill fw-bold">{{ item.level_onu_rx }}</span>
                      {% elif item.level_onu_rx <= -25.01 and item.level_onu_rx >= -30.00 %}
                        <span class="badge text-bg-warning rounded-pill fw-bold">{{ item.level_onu_rx }}</span>
                      {% elif item.level_onu_rx <= -30.01 %}
                        <span class="badge text-bg-danger rounded-pill fw-bold">{{ item.level_onu_rx }}</span>
                      {% elif item.level_onu_rx == 0.00 %}
                        <span class="badge text-bg-secondary rounded-pill fw-bold">{{ item.level_onu_rx }}</span>
                      {% endif %}
                    </td>
                    <td>
                      <small style="color: gray;">
                        OLT RX:
                      </small><br>      
                      {% if item.level_olt_rx <= -1 and item.level_olt_rx >= -25.00 %}
                        <span class="badge text-bg-success rounded-pill fw-bold">{{ item.level_olt_rx }}</span>
                      {% elif item.level_olt_rx <= -25.01 and item.level_olt_rx >= -30.00 %}
                        <span class="badge text-bg-warning rounded-pill fw-bold">{{ item.level_olt_rx }}</span>
                      {% elif item.level_olt_rx <= -30.01 %}
                        <span class="badge text-bg-danger rounded-pill fw-bold">{{ item.level_olt_rx }}</span>
                      {% elif item.level_olt_rx == 0.00 %}
                        <span class="badge text-bg-secondary rounded-pill fw-bold">{{ item.level_olt_rx }}</span>
                      {% endif %}
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </tr>
      </tr>
      <tr>
        <td>
          <small style="color: gray;">
            Uptime / Время включения:
          </small><br>
          <b>{{ item.timeup }}</b>
        </td>
        <td>
          <small style="color: gray;">
            Время последнего отключения:
          </small><br>
          <b>{{ item.timedown }}</b>
        </td>
      </tr>      
      <tr>     
        <td>
          <a 
            href="/onuconfinfo/{{ item.olt_id }}/{{ item['mac/sn'] }}" 
            class="btn btn-info btn-sm me-1" 
            type="submit" 
          >
          <img 
            src="{{ url_for('static', filename='images/settings_ico.png') }}"
            title="Посмотреть конфигурацию ОНУ" 
            width="20"
          >
          </a>
          <a 
            href="/oltshowlogs/{{ item.olt_id }}" 
            class="btn btn-info btn-sm" 
            type="submit"
            >
          <img 
            src="{{ url_for('static', filename='images/show_log.png') }}"
            title="Посмотреть логи ОЛТа" 
            width="20"
          >
          </a>
        </td>  
        <td>
          <small style="color: gray;">Причина последнего отключения:</small><br><b><small>{{ item.reason_offline }}</small></b>
        </td> 
      </tr>    
      <tr>
        <td>
          <small style="color: gray;">
            Статус LAN порта:
          </small><br>
          <b>{{ item.lanstate }} {{ item.lanspeed }}</b>
        </td>
        <td>
          <small style="color: gray;">
            Статус CATV порта:
          </small><br>
          {% if 'OFF' in item.catvstate %}                 
            <span class="badge text-bg-danger rounded-pill fw-bold">
              {{ item.catvstate }}
            </span>
            <a href="/onuinfo/{{ item.olt_id }}/{{ item['mac/sn'] }}/catvon" class="btn btn-outline-dark"
            >
              Включить
            </a>
          {% elif 'ON' in item.catvstate %}                            
            <span class="badge text-bg-success rounded-pill fw-bold">
              {{ item.catvstate }}
            </span>
            <a href="/onuinfo/{{ item.olt_id }}/{{ item['mac/sn'] }}/catvoff" class="btn btn-outline-dark"
            >
              Выключить
            </a>                
          {% else %}
            <b>{{ item.catvstate }}</b>
          {% endif %}
        </td>
      </tr>
      <tr>  
        <td>
          <small style="color: gray;">
            Мак адреса с LAN порта:
          </small><br>
            <b>{% for i in item.lan_mac %}{{ i }}<br>{% endfor %}</b>
        </td>
        <td>
          <small style="color: gray;">
            Уровень сигнала CATV:
          </small><br>
          <b>{{ item.catvlevel }}</b>
        </td>                      
      </tr>            
  </ul>
  </table>
  
  <div class="row">
    <div class="col-md-4" style="text-align: center;">
      <a 
        href="/oltinfo/{{ item.olt_id }}/{{ item.iface_name|replace('/', '.') }}" 
        class="btn btn-success ml-auto"
        onclick="showSpinner()"
        >
                Уровень дерева
      </a>
    </div>
    <div class="col-md-4" style="text-align: center;">
      <a 
        href="/onuinfo/{{ item.olt_id }}/{{ item['mac/sn'] }}/reboot" 
        class="btn btn-warning ml-auto"
        onclick="showSpinner()"
      >
        Перезагрузить ОНУ
      </a>
    </div>
    <div class="col-md-4" style="text-align: center;">
      <a 
        href="/onuinfo/{{ item.olt_id }}/{{ item['mac/sn'] }}/deleteonu" 
        class="btn btn-danger text-right"
        onclick="showSpinner()"
      >
        Удалить ОНУ
      </a>         
    </div>
    <p></p>
  </div>
</div>
<script>
function showSpinner() {
    const overlay = document.getElementById('spinner-overlay');
    overlay.classList.add('active');
}
</script>
<br>
{% endfor %}
{% endblock %}