{% extends 'base.html' %}

{% block title %}
ONU info
{% endblock %}

{% block body %}

<div class="container col-md-5 col-lg-4 order-md-last" style="background-color: #FFFFFF; border-radius: 21px 21px 21px 21px;">
        <br> 
        <ul class="list-group mb-3">
        <div class="text-center">
        {% if 'Неправильный' in onu %}
            <img src="{{ url_for('static', filename='images/onu_wrong_macorsn.png') }}" width="200">
            <h5 class="my-0 fw-bold">{{ onu }}</h5>
        {% else %}
            <img src="{{ url_for('static', filename='images/onu_not_found.png') }}" width="300">
            <h5 class="my-0 fw-bold">{{ onu }}</h5>
        {% endif %}
        </div>
        </ul>
<br>
</div>


{% endblock %}
~                    
