{% extends 'settings_base.html' %}

{% block title %}
Настройка базы данных
{% endblock %}

{% block settings %}
<div class="container col-md-4 col-lg-4 order-md-last" style="background-color: #FFFFFF; border-radius: 21px 21px 21px 21px;">
    <header>
        <h1 class="text-center fw-bold">База данных</h1>
    </header>
    <div class="input-group">
        <a href="/settings/createnewdb" class="btn btn-danger">Создать новую базу
        </a>
        <p></p>
     </div>

</div>
{% endblock %}
