{% extends 'settings_base.html' %}

{% block title %}
Настройка NetBox
{% endblock %}

{% block settings %}
<div class="container col-md-4 col-lg-4 order-md-last">
{% for msg in get_flashed_messages() %}
        {% if "Ошибка" in msg %}
            <h3 class="text-center"><span class="flash badge text-bg-danger">{{msg}}</span></h3>
        {% else %}
            <h3 class="text-center"><span class="flash badge text-bg-success">{{msg}}</span></h3>
        {% endif %}
    {% endfor %}
    <header>
        <h1 class="text-center fw-bold">Настройки NetBox</h1>
    </header>
<table class="table">
    <thead class="table-dark">
        <tr>
        <th scope="row">Параметр</th>
        <th scope="col">Значение</th>
        </tr>
    </thead>
        <tbody class="table-group-divider">
            <tr>
            <td>API токен</td>
            <td>{{ cfg.API_KEY }}</td>
            </tr>
        </tbody>
        <tbody class="table-group-divider">
            <tr>
            <td>URL Netbox</td>
            <td>{{ cfg.URLNB }}</td>
            </tr>

        </tbody>
<tbody class="table-group-divider">
            <tr>
            <td>Tag Epon</td>
            <td>{{ cfg.EPON_TAG }}</td>
            </tr>
        </tbody>
<tbody class="table-group-divider">
            <tr>
            <td>Tag Gpon</td>
            <td>{{ cfg.GPON_TAG }}</td>
            </tr>
        </tbody>
        <tbody class="table-group-divider">
            <tr>
            <td>Платформа Huawei</td>
            <td>{{ cfg.PL_H }}</td>
            </tr>
        </tbody>
<tbody class="table-group-divider">
            <tr>
            <td>Платформа BDCOM</td>
            <td>{{ cfg.PL_B }}</td>
            </tr>
        </tbody>
    </table>



    <br>

    <header>
        <h1 class="text-center fw-bold">Редактировать настройки</h1>
    </header>
    <form method="post">
    <input type="text" name="api_key" id="api_key" class="form-control" placeholder="Введите API токен для NetBox"><br>
    <input type="text" name="urlnb" id="urlnb" class="form-control" placeholder="Введите URL NetBox"><br>
    <input type="text" name="tag_epon" id="tag_epon" class="form-control" placeholder="Введите тег Epon"><br>
    <input type="text" name="tag_gpon" id="tag_gpon" class="form-control" placeholder="Введите тег Gpon"><br>
    <input type="text" name="pl_h" id="pl_h" class="form-control" placeholder="Введите платформу Huawei"><br>
    <input type="text" name="pl_b" id="pl_b" class="form-control" placeholder="Введите платформу BDCOM"><br>
    <input type="submit" class="btn btn-success" value="Добавить/Редактировать">
    </form>
</div>
{% endblock %}
