{% extends 'base.html' %}

{% block title %}
Добавление нового ОЛТа
{% endblock %}

{% block body %}
<main class="d-flex flex-nowrap">
<div  style="width: 280px; height: 100%; background-color: #FFFFFF; border-radius: 21px 21px 21px 21px;">
      <h2 class="text-center fs-4 fw-bold">Меню настроек</h2>

    <hr>
        <ul class="nav nav-pills flex-column mb-auto">

    {% for m in menu %}
    <li>
        <a href="{{ m.url }}" class="nav-link link-body-emphasis ">
          {{ m.menuname }}
        </a>
      </li>
    {% endfor %}
    </ul>
    </hr>
    
  </div>

{% block settings %}{% endblock %}
</main>
{% endblock %}
