{% extends 'settings_base.html' %}

{% block title %}
Настройка SNMP
{% endblock %}

{% block settings %}
<div class="container col-md-6 col-lg-6 order-md-last" style="background-color: #FFFFFF; border-radius: 21px 21px 21px 21px;">
{% for msg in get_flashed_messages() %}
        {% if "Ошибка" in msg %}
            <h3 class="text-center"><span class="flash badge text-bg-danger">{{msg}}</span></h3>
        {% else %}
            <h3 class="text-center"><span class="flash badge text-bg-success">{{msg}}</span></h3>
        {% endif %}
    {% endfor %}
    <header>
        <h1 class="text-center fw-bold">Глобальные настройки SNMP</h1>
    </header>
    <form method="post">
    <table class="table">
    <thead class="table-dark">
        <tr>
        <th scope="row">Параметр</th>
        <th scope="col">Текущее значение</th>
        <th scope="col">Новое значение</th>
        </tr>
    </thead>
            <tr>
                <td>Huawei Read SNMP community</td>
                <td>{{ cfg.SNMP_READ_H }}</td>
                <td><input type="text" name="snmp_read_h" id="snmp_read_h" class="form-control" placeholder="Введите новое значение"></td>
            </tr>
            <tr>
                <td>Huawei Write SNMP community</td>
                <td>{{ cfg.SNMP_CONF_H }}</td>
                <td><input type="text" name="snmp_conf_h" id="snmp_conf_h" class="form-control" placeholder="Введите новое значение"></td>
            </tr>
            <tr>
                <td>BDCOM Read SNMP community</td>
                <td>{{ cfg.SNMP_READ_B }}</td>
                <td><input type="text" name="snmp_read_b" id="snmp_read_b" class="form-control" placeholder="Введите новое значение"></td>
            </tr>
            <tr>
                <td>BDCOM Write SNMP community</td>
                <td>{{ cfg.SNMP_CONF_B }}</td>
                <td><input type="text" name="snmp_conf_b" id="snmp_conf_b" class="form-control" placeholder="Введите новое значение"></td>
            </tr>
            <tr>
                <td>C-Data Read SNMP community</td>
                <td>{{ cfg.SNMP_READ_C }}</td>
                <td><input type="text" name="snmp_read_c" id="snmp_read_c" class="form-control" placeholder="Введите новое значение"></td>
            </tr>
            <tr>
                <td>C-Data Write SNMP community</td>
                <td>{{ cfg.SNMP_CONF_C }}</td>
                <td><input type="text" name="snmp_conf_c" id="snmp_conf_c" class="form-control" placeholder="Введите новое значение"></td>
            </tr>
    </table>

    <input type="submit" class="btn btn-success" value="Сохранить изменения">
    <p></p>
    </form>
</div>
{% endblock %}
